<h1>Sign Up</h1>

<%= form_with model: @user, url: users_path do |form| %>
  <%= form.label(:first_name, class:"form-label") %>
  <%= form.text_field(:first_name, class:"form-control") %>

  <%= form.label(:last_name, class:"form-label") %>
  <%= form.text_field(:last_name, class:"form-control") %>

  <%= form.label(:email, class:"form-label") %>
  <%= form.email_field(:email, class:"form-control") %>

  <%= form.label(:password, class:"form-label") %>
  <%= form.password_field(:password, class:"form-control") %>

  <%= form.label(:password_confirmation, class:"form-label") %>
  <%= form.password_field(:password_confirmation, class:"form-control") %>

  <%= form.submit(class:'btn btn-primary mt-3', value:'Sign Up') %>
<% end %>
